<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.mostlyepic.secondary-icon"
      version="0.0.4">

    <name>SecondaryIconPlugin</name>
    <description>Secondary Icon Plugin for Phonegap Build applications</description>
    <license>MIT</license>
    <keywords>cordova,pgb,phonegap,build,icon,res</keywords>
    <repo>https://github.com/kentmw/secondary-icon.git</repo>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <!--  drawable src/android/resources -->
        <resource-file src="src/android/res/drawable-hdpi/secondary_icon.png" target="res/drawable-hdpi/secondary_icon.png" />
        <resource-file src="src/android/res/drawable-mdpi/secondary_icon.png" target="res/drawable-mdpi/secondary_icon.png" />
        <resource-file src="src/android/res/drawable-xhdpi/secondary_icon.png" target="res/drawable-xhdpi/secondary_icon.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/secondary_icon.png" target="res/drawable-xxhdpi/secondary_icon.png" />

    </platform>
</plugin>
